<div id="MiPerfil">
    <div id="closePerfil">
        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
    </div>
    <div class="info">
        <img src="~/images/perfil.jpg" width="100" /><br />
        <table class="infoTable">
            <tr>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td class="gold">Nombre:</td>
                <td>Juan Carlos Erroa Molina</td>
            </tr>
            <tr>
                <td class="gold">Carrera:</td>
                <td>Ingenieria en Ciencias de la Computación</td>
            </tr>
            <tr>
                <td class="gold">Carnet:</td>
                <td>EM140418</td>
            </tr>
            <tr>
                <td class="gold">Email:</td>
                <td>juanerroa@outlook.com</td>
            </tr>
        </table>
    </div>
</div>